---
---

<div class="nav-links">
  <a data-testid="home-link-btn" href="/">Home</a>
  <a data-testid="about-link-btn" href="/about/">About</a>
  <a data-testid="blog-link-btn" href="/blog/">Blog</a>
  <a data-testid="tags-link-btn" href="/tags/">Tags</a>
</div>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color:rgb(29, 101, 149);
    text-decoration: none;
  }
</style>