---
const { platform, username } = Astro.props;
---

<a data-testid=`social-${platform}` href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #9b7714c0;
    text-decoration: none;
  }
</style>