---
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<Layout pageTitle={pageTitle}>
  <body>
    <h1 id=page-title-header>Seths Blog</h1>
    <ul id="blog-list">
      {
        allPosts.map((post: any) => (
          <BlogPost url={`/posts/${post.id}/`} title={post.data.title} /> 
        ))
      }
    </ul>

  </body>
</Layout>
